:root {
  --anchor-font-color: rgb(70, 70, 70);
  --anchor-hover: rgb(153, 153, 153);
  --font-color: rgb(32, 32, 32);
  --bg-color: rgb(255, 255, 255);
  --box-shadow-color: rgb(160, 160, 160);
  --input-color: rgb(99, 99, 99);
  --nav-footer-border: rgb(223, 223, 223);
  --footer-bg: rgb(156, 156, 156);
  --footer-font-color: rgb(100, 100, 100);
}

[data-theme="dark"] {
  --anchor-font-color: rgb(180, 180, 180);
  --anchor-hover: rgb(124, 124, 124);
  --font-color: rgb(216, 216, 216);
  --bg-color: rgb(43, 43, 43);
  --box-shadow-color: rgb(102, 102, 102);
  --input-color: rgb(75, 75, 75);
  --nav-footer-border: rgb(58, 58, 58);
  --footer-bg: rgb(75, 75, 75);
  --footer-font-color: rgb(0, 0, 0);
}

* {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--anchor-font-color);
}

a:hover {
  color: var(--anchor-hover);
}

h3 {
  font-size: 22pt;
}
h5 {
  font-size: 14pt;
}

label {
  color: var(--font-color);
}

p {
  font-size: 12pt;
}

#dark-mode-icon {
  cursor: pointer;
  color: var(--anchor-font-color);
}

#dark-mode-icon:hover {
  color: var(--anchor-hover);
  animation: spin 300ms linear 1;
}
#login-page {
  margin-top: 3rem;
  color: var(--font-color);
  font-family: "Vollkorn", serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login-form {
  display: flex;
  flex-direction: column;
  width: 17rem;
  margin-bottom: 10rem;
}

#admin-tag {
  color: rgb(219, 74, 74);
  font-weight: 600;
  margin-right: 10px;
  border: 2px solid rgb(219, 74, 74);
  font-size: small;
  padding: 2px;
  border-radius: 8px;
}

#submit-button {
  color: rgb(0, 128, 0);
  height: 1.5rem;
  width: 6rem;
  margin: 0 auto;
  border: none;
  box-shadow: 1px 1px 9px var(--box-shadow-color);
  border-radius: 7px;
  margin-top: 1.25rem;
  background-color: rgb(90, 199, 90);
}

#submit-button:hover {
  background-color: rgb(118, 206, 118);
}

#logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#logout-container > * {
  text-align: center;
}

#logout-button {
  font-family: "Vallkhorn", serif;
  text-decoration: underline;
  margin-top: 1rem;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 16pt;
  color: rgb(184, 79, 79);
  font-weight: 700;
  margin-left: 6px;
  border: none;
}

#logout-button:hover {
  color: rgb(255, 0, 0);
}

.body-wrapper {
  font-family: "Vollkorn", serif;
  color: var(--font-color);
  flex: 1 0 auto;
}

.content-wrapper {
  width: 65%;
}

.text-field {
  padding-left: 5px;
  height: 1.3rem;
  margin-top: 8px;
  border-radius: 7px;
  color: var(--font-color);
  border: 2px solid var(--input-color);
}

.nav-bar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-bottom: 1px solid var(--nav-footer-border);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  height: 3rem;
  width: 100%;
}

.nav-items-container {
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 400;
}

.headshot {
  height: 8rem;
  border-radius: 7px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 15px var(--box-shadow-color);
}

.blog-links-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.blog-link {
  font-family: "Vollkorn", serif;
  /* text-decoration: underline; */
  font-size: large;
  font-weight: 400;
  color: var(--anchor-font-color);
  border-radius: 3px;
  padding: 5px;
  list-style-type: none;
  margin-top: 0.5rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.floating-back-button {
  cursor: pointer;
  position: fixed;
  z-index: 1;
  bottom: 100px;
  left: 5px;
  font-family: serif;
  width: 2.5rem;
  height: 2.5rem;
  font-size: x-large;
  margin-left: 2rem;
  border-radius: 50%;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px var(--box-shadow-color);
  border: 1px solid rgb(119, 119, 119);
  background-color: rgb(255, 255, 255);
}

.floating-back-button > * {
  background-color: inherit;
}

.floating-back-button:hover {
  box-shadow: 1px 1px 15px var(--box-shadow-color);
}

.footer {
  flex-shrink: 0;
  width: 100%;
  margin-top: 7rem;
  font-family: "Vollkorn", serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  color: var(--footer-font-color);
  background-color: var(--footer-bg);
}
.footer-content {
  background-color: inherit;
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.footer-content > * {
  background-color: inherit;
}
.footer-content > * > * {
  background-color: inherit;
}
.footer-info {
  text-align: center;
  width: 20rem;
  background-color: inherit;
  margin-bottom: 8px;
}
.footer-info > * {
  display: flex;
  width: 20rem;
  flex-direction: column;
  background-color: inherit;
  color: inherit;
}
.footer-info > * > * {
  background-color: inherit;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  .content-wrapper {
    width: 85%;
  }
}
